.header-box {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: fixed;  
    top: 0;  
    left: 0;  
    right: 0; 
    z-index: 1000; 
    background-color: white;
}

.header-box a{
    text-decoration: none;
}

h3{
    color: black;
}
a{
    text-decoration: none;
}
a:hover{
    color: aquamarine;
}

button a{
    text-decoration: none;
}

.features{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.features button:hover{
    background-color:  #8dd3bb;
    border-radius: 4px;
}
.account-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 40px 0px 0px;
}

.account-details button:hover{
    background-color:  #8dd3bb;
    border-radius: 4px;
}


.airplane-icon{
    
  transform: rotate(90deg);
  text-align: center;
}

.find, .user, .favorites, .user{
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-weight: bold; 
}
.find:hover{
    border: none;
    cursor: pointer;
    border-radius: 3px;
    z-index: 2;
    background-color: #8dd3bb;
    color: #000000;
    
    
}
.findButton{
    padding: 10px 10px;
    font-weight: bold; 
}

.accButton{
    padding: 12px 0px;
    font-weight: bold; 
}
.accButton:hover{
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.line{
    
  transform: rotate(90deg);
}
.userButton{
    display: flex;
    align-items: center;
}
.userButton:hover{
    background-color: #8dd3bb;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.userSpan{
    padding-left: 5px;
}
.userinButton{
    display: flex;
    align-items: center;
}
.userinButton:hover{
    
    background-color: #8dd3bb;
    border-radius: 10px;
}
.rightIcon{
    margin-left: auto;
}
.styledMenuItem {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Optional: Ensures space between text and icon */
    padding: 10px 20px; /* Adjust padding as needed */
    z-index: 1000;
  }