.flightSearchContainer {
  background-color: #fafbfc;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 500vh;
  max-width: 1500px;
  margin: 0 auto;
  }
  
  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  .heroSection {
    position: relative;
    min-height: 200px;
    color: #fff;
    padding: 80px 174px 200px 126px;
    width: 100%;
  }
  
  .heroImage {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .heroContent {
    position: relative;
    max-width: 440px;
    margin: 150px 30px 30px 30px; 

  }

  .heroTitle {
    font: 700 45px Libre Franklin, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .heroSection {
      padding: 40px 20px 100px;
    }
  
    .heroTitle {
      font-size: 40px;
      line-height: 48px;
    }
  }