.flightSearchContainer {
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1300px;
  background-color: white;
  font-family: 'Roboto', sans-serif; 
  }
  
  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0.3, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 5vh;
    flex: 1;
  }
  
  .heroSection {
    position: absolute; 
    min-height: 70vh; 
    justify-content: flex-start;
    color: #fff;
    padding: 8px 174px 200px 126px;
    width: 100%;
  }
  
  .heroImage {
    position: absolute;
    inset: 0;
    width: 206.3vh;
    height: 70vh;
    object-fit: cover;
  }
  
  .heroContent {
    position: relative;
    max-width: 440px;
    margin: 150px 30px 30px 30px; 
  }

  .heroTitle {
    font: 700 45px Libre Franklin, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .heroSection {
      padding: 40px 20px 100px;
    }
  
    .heroTitle {
      font-size: 40px;
      line-height: 48px;
    }
  }