#root {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    padding-top: 20px; 
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    font-family: 'Roboto', sans-serif; 
  }

.main-box{
     display: 'flex';
     flex-Direction: 'column';
     overflow: 'auto';
     width: 200vh;
     justify-content: center;
     align-items: center;
     padding-top: 70px;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 60px;
    gap: 15px;
  }
  
  .list-container {
    display: flex;
    flex-direction: row; 
    width: 100%; 
    justify-content: center;
    margin: 20px 20px; 
    gap: 20px;
  }

.booked-box, .flights-box{
    box-shadow: 5px 5px 15px rgba(0, 0, 0.3, 0.5);
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 550px;
    border-radius: 20px;
}

.list-content{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}

.list-container button{
    background-color: #8dd3bb;
    color: rgba(21,71,52);
    font-weight: bold;
    font-size: small;
}

.list-container button:hover {
    background-color: rgba(68,105,61);
    color: rgb(154, 231, 138);
}

.airplane-icon{
    margin: 0px 5px 0px 0px;
    font-size: 0.8em;
    vertical-align: middle;
    padding: 0px 0px 0px 0px
}

#delete-button{
    background-color:#AB0003;
    color:white;
}
#delete-button:hover{
    background-color:#fa2600;
    color: white;
}

.search-origin{
    display: flex;
    flex-direction: row;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    width: 500px;
  }
  
  .input-wrapper input {
    width: 100%;
    padding-right: 40px; 
    box-sizing: border-box;
  }
  
  .loop-icon, .destination-icon{
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    color: gray; 
    pointer-events: none; 
  }

/*Flight bookiong and update CSS below here*/

.book-box, .update-box{
    display: flex;
    flex-direction: column;
    justify-content: 'center';
    justify-items: center;
    padding: 15px;
    width: 400px;
    margin-top: 15%;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.button-box{
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 30px;
}
.button-box button{
    background-color:#8dd3bb;
    color: rgba(21,71,52);
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: small;
}

.button-box button:hover{
    background-color: rgba(68,105,61);
    color: rgb(154, 231, 138);
}

.input-travellers, .input-fareclass {
    position: relative;
    width: 100%;
}

.input-travellers, .input-fareclass  input {
    width: 100%;
}

.input-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: gray;
}
