.FormsPage{
    position: relative;
    display: flex;
    background-color: #fff;
    height: 130vh;
    width: 100%;
    padding: 0vh;
  }
  
  .contentWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 130vh;  
    padding: 70px 30px 100px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #fff;    
    overflow: hidden;
  }

  .createForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .formSection {
    max-width: 600px;
    overflow: hidden;
    height: 100%;
  }

  .logo {
    width: 269px;
    height: auto;
    margin-bottom: 58px;
  }

  .title {
    font: 700 40px 'TradeGothic LT Extended', -apple-system, Roboto, Helvetica, sans-serif;
    color: #000;
  }
  
  .imageSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100%; 
    overflow: hidden; 
  }

  .formOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 500 14px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    text-decoration: none ;
    margin-top: 2vh;
  }

  .formOptions a {
    text-decoration: none;
  }

  .flightList {
    text-align: center;
    font: 500 14px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    color: #ff8682;
    text-decoration: none;
  }
  
  .flightList:visited, .flightList:active, .flightList:hover {
    text-decoration: none; 
    color: #ff8682;
  }

  a {
    text-decoration: none;
  }

  .Link a {
    text-decoration: none;
  } 

  .scenicImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  
  @media (max-width: 991px) {
    .loginPage {
      flex-direction: column;
    }
  
    .contentWrapper {
      padding: 40px 20px;
    }
  
    .loginSection {
      max-width: 100%;
    }
  
    .logo {
      margin-bottom: 40px;
    }
  
    .imageSection {
      order: -1;
    }
  
    .scenicImage {
      max-height: 300px;
    }
  }

  
