/* In HomeLanding.css */
      body{
        background-image: url("../../assets/beach.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
      }